*,
*::after,
*::before {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

span,
a,
img,
button {
  display: inline-block;
}

a {
  text-decoration: none;
  color: unset;
}

body {
  background-color: rgb(244, 246, 247);
  padding: 0;
  margin: 0;
}

header {
  display: flex;
  padding: 2em;
}

.logo {
  margin-right: auto;
  font-size: 2.5rem;
  font-weight: 800;
  letter-spacing: 2px;
  /* color: royalblue; */
  color: rgb(9, 9, 35);
}

header nav {
  display: flex;
  gap: 2em;
}

header nav a {
  /* color: rgb(59, 94, 199); */
  color: rgb(9, 9, 35);
  font-size: 1.8rem;
  font-weight: 500;
}

header nav a:hover {
  text-decoration: underline;
}

footer {
  padding: 2em;
}

footer p {
  text-align: center;
  font-size: 1.3rem;
  color: rgb(9, 9, 35);
}

.home--page {
  min-height: 78vh;
  background-image: url('./assets/homeImg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
}

.home--page--container {
  width: 50%;
  margin: auto;
  background-color: rgb(10, 83, 101);
  border-radius: 5px;
  padding: 4em;
}

.home--page--container h1 {
  color: rgb(236, 222, 222);
  margin-bottom: 2em;
  font-weight: 800;
  line-height: 42px;
}

.home--page--container p {
  color: rgb(236, 222, 222);
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 2em;
}

.home--page--container a {
  padding: 0.7em 0;
  width: 100%;
  background-color: blanchedalmond;
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  color: rgb(9, 9, 35);
  border-radius: 5px;
}

.about--page {
  min-height: 78vh;
}

.about--page .images--section {
  display: flex;
  justify-content: center;
}

/* .about--page .images--section img {
  width: 25%;
} */

.about--page--container {
  width: 50%;
  margin: 2em auto;
}

.about--page--container h1 {
  color: rgb(10, 83, 101);
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 38px;
  margin: 2em 0;
}

.about--page--container p {
  color: rgb(17, 105, 129);
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 22px;
  margin-bottom: 2em;
}

.about--page--cta {
  padding: 2em;
  background-color: rgb(10, 83, 101);
  color: white;
  border-radius: 5px;
  margin-top: 4em;
}

.about--page--cta a {
  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 23.919px;
  background-color: rgb(9, 9, 35);
  padding: 0.6em 0;
  width: 300px;
  text-align: center;
  border-radius: 5px;
  margin-top: 2em;
}

.hospitals--page {
  width: 50%;
  margin: 0 auto;
  min-height: 78vh;

}

.hospitals--page h1 {
  font-weight: 700;
  line-height: 33.652px;
  color: rgb(6, 32, 38);
  margin-bottom: 1em;
}

.hospitals--page--container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5em;
}

.hospital--item--container {
  /* margin-bottom: 2em; */
  width: 400px;
}

.hospital--item--container img {
  border-radius: 5px;
  width: 100%;
  height: 250px;
}

.hospital--item--container h2 {
  font-weight: 600;
  color: #116981;
  line-height: 31.662px;
}

.hospital--item--container span {
  font-weight: 600;
  line-height: 31.662px;
  color: rgb(236, 222, 222);
  /* background-color: #217046; */
  margin-top: 1em;
  margin-bottom: 1em;
  border-radius: 5px;
  padding: 0.5em 2em;
  font-size: 1.2rem;
}

.hospital--item--container h3 {
  color: rgb(10, 83, 101);
  line-height: 31.662px;
}

.hospital--filter--nav {
  display: flex;
  padding: 2em 0;
}

.hospital--filter--nav button {
  color: #4D4D4D;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 23.919px;
  border: none;
  margin-right: 4em;
  padding: 0.5em 0;
  width: 200px;
}

.clear--filter--btn {
  background-color: unset;
}

.hospital--details--page {
  min-height: 78vh;
  width: 50%;
  margin: 0 auto;
}

.hospital--details--page--container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  color: #0a1a1e;

}

.hospital--details--page--container img {
  width: 600px;
  border-radius: 5px;
}

.hospital--details--page--container span {
  font-weight: 600;
  line-height: 31.662px;
  border-radius: 5px;
  padding: 0.5em 2em;
  font-size: 1.2rem;
  width: 300px;
  text-align: center;
  color: rgb(236, 222, 222);
}

.hospital--details--page--container p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 23.919px;
}

.hospital--details--page--container a {
  color: rgb(236, 222, 222);
  text-align: center;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 31.662px;
  padding: 0.7em 0;
  background-color: #116981;
  border-radius: 5px;

}

.hospital--layout--container {
  width: 50%;
  margin: 0 auto;
  min-height: 78vh;
}

.hospital--layout--container nav {
  margin-top: 2em;
  margin-bottom: 2em;
}

.hospital--layout--container nav a {
  color: #4D4D4D;
  font-weight: 600;
  line-height: 31.662px;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 23.919px;
  padding: 0.5em 0;
  width: 200px;
}

.dashboard--page,
.income--page,
.reviews--page {
  /* text-align: center;
  color: #116981;
  display: flex; */
  min-height: 67vh;
}

/* .center--text {
  margin: auto;
} */

.hospital--scanners--page {
  min-height: 67vh;

}

.single--hospital--scanner {
  display: flex;
  align-items: center;
  padding: 2em;
  background-color: white;
  margin-bottom: 2em;
  border-radius: 10px;
}

.single--hospital--scanner img {
  width: 200px;
  border-radius: 5px;
  margin-right: 2em;
}

.hospital--scanners--page h1 {
  font-weight: 700;
  color: #236886;
  line-height: 33.652px;
  margin-bottom: 2em;
}

.single--hospital--scanner h3 {
  color: #368da5;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 31.662px;
}

.single--hospital--scanner span {
  color: #091920;
  font-size: 1rem;
  font-weight: 500;
  line-height: 31.662px;
}

.hospital--scanner--details--page--container {
  padding: 3em;
  background-color: white;
  border-radius: 10px;
}

.scanner--details--top {
  display: flex;
  align-items: center;
}

.scanner--details--top img {
  margin-right: 2em;
  width: 300px;
  border-radius: 5px;
}

.scanner--details--top .text--section {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.text--section span {
  font-weight: 600;
  line-height: 25.783px;
  width: 200px;
  padding: 0.5em 0;
  font-size: 1.3rem;
  text-align: center;
  border-radius: 5px;
  color: #fff;

}

.text--section h3 {
  font-weight: 700;
  color: #236886;
  line-height: 27.404px;
  font-size: 2rem;
}

.text--section h4 {
  font-weight: 500;
  color: #236886;
  line-height: 35.954px;
  font-size: 1.3rem;
}

.selected--hospital--scanner p {
  margin-bottom: 1em;
  font-weight: 700;
  line-height: 21.46px;
  font-size: 1rem;
}

.selected--hospital--scanner img {
  width: 200px;
  border-radius: 5px;
}

.selected--hospital--scanner h3 {
  font-weight: 500;
  line-height: 21.46px;
  font-size: 2rem;
}

.lite--text {
  font-weight: 500;
  line-height: 21.46px;
  color: #1b3844;

}

.back--link {
  font-weight: 600;
  color: #116981;
  font-size: 1.1rem;
  margin-bottom: 2em;
}

.not--found--page {
  width: 50%;
  margin: 0 auto;
  height: 78vh;
  display: flex;
}

.not--found--page--container {
  margin: auto;
}

.not--found--page--container h1 {
  font-weight: 700;
  line-height: 42px;
}

.not--found--page--container a {
  padding: 0.5em 0;
  font-size: 2rem;
  background-color: #1b3844;
  width: 100%;
  text-align: center;
  color: #fff;
  margin-top: 2em;
  border-radius: 5px;
}

.login--page {
  display: flex;
  height: 78vh;
  margin: 0 auto;
  width: 50%;
}

.login--page--container {
  margin: auto;
  width: 100%;
}

.login--page--container p,
.sign--up--page--container p {
  font-weight: 700;
  line-height: 24px;
  font-size: 1.2rem;
  margin-top: 2em;
  text-align: center;
  color: #0a1a1e;
}

.sign--up--link {
  font-weight: 500;
  line-height: 24px;
  color: #0d2a68;
  padding-left: 1em;
}

.login--form input,
.signup--form input {
  display: block;
  width: 100%;
  padding: 0.5em 2em;
  font-size: 1.3rem;
  outline: unset;
  color: #1b3844;
  background-color: #fff;
  border: 1px solid #348998;
}

.login--form input:focus {
  background-color: #fff;
}

.login--form input[type="email"] {
  border-radius: 6px 6px 0 0;
  border-bottom: none;
}

.login--form input[type="password"] {
  border-radius: 0 0 6px 6px;
}

.login--btn {
  font-size: 1.3rem;
  padding: 0.6em 0;
  width: 100%;
  font-weight: 600;
  margin-top: 2em;
  border-radius: 6px;
  border: none;
  background-color: #236886;
  color: #fff;
}

.error--text {
  color: rgb(228, 42, 42);
  text-align: center;
  line-height: 21.46px;
  margin-bottom: 1em;
}

.signup--page {
  display: flex;
  min-height: 78vh;
  margin: 0 auto;
  width: 50%;
}

.sign--up--page--container {
  padding: 3em;
  background-color: #fff;
  margin: auto;
  width: 100%;
  border-radius: 10px;
}

.sign--up--page--container h1 {
  line-height: 21.46px;
  color: #368da5;
  margin-bottom: 2em;
}

.signup--form {
  width: 100%;
}

.signup--form input {
  width: 100%;
  border-radius: 6px 6px 6px 6px;
  margin-bottom: 2em;
}

.reviews-page-container .top--text {
  display: flex;
  align-items: center;
}

.reviews-page-container .top--text h1 {
  margin-right: 4em;
}

.reviews-card {
  padding: 2em 0;
  border-bottom: 1px solid #C7C7C7;
  ;
}

.reviews-card .info {
  display: flex;
  align-items: center;
}

.info .name {
  margin-right: 3em;
  color: #161616;
  font-size: 1rem;
  font-weight: 600;
  line-height: 31.662px;
}

.info .date {
  color: #8C8C8C;
}

.text {
  font-weight: 500;
  line-height: 22.162px;
}

.review-star {
  color: #ff8c38;
  margin-right: 5px;
}

.income--page--container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.income--page--container h1 {
  font-weight: 700;
  line-height: 22px;
  color: #0e343f;
}

.income--page--container>p {
  font-weight: 500;
  color: #0e343f;
  line-height: 22px;
}

.income--page--container>span {
  font-weight: 800;
  line-height: 38px;
  color: #0e343f;
  font-size: 2.5rem;
}

.transactions {
  display: flex;
  color: #0e343f;
  align-items: center;
}

.transactions h2 {
  font-weight: 700;
  line-height: 22px;
  margin-right: 400px;
}

.transaction--item  {
  display: flex;
  padding: 2em;
  background-color: white;
  color: #477f8f;
  margin-bottom: 1em;
}

.transaction--item h3 {
  font-weight: 600;
  line-height: 31.662px;
  margin-right: 400px;
}

.transaction--item h4 {
  font-weight: 500;
  line-height: 31.662px;
}

.tags {
  display: flex;
  /* width: 500px; */
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
line-height: 22px;
font-size: 1.1rem;
margin-bottom: 2em;
}

/* .income-tag {

} */

.dashboard-page-container h1 {
  font-weight: 700;
line-height: 22px; 
font-size: 2rem;
margin-bottom: 2em;
}

.dashboard-page-container > span {
  font-weight: 800;
line-height: 38px;
font-size: 2.5rem;
margin-bottom: 1em;
}

.edit--link {
  margin-left: auto;
  text-decoration: underline;
}